# Environment
.env

# Privates
**/*-private.*
assets/images/brawlers/*
assets/images/ranks/*
assets/images/others/*

# Deps
node_modules/
pnpm-lock.yaml

# Output
dist/

# Sqlite3
**/*.db

# Others
.idea
.ideas
.vscode